p{
  font-family:Lato;
}
.header{
  text-align:center;
  font-family:Lato;
   
  border:solid;
  display: flex;
  justify-content: center;
  align-items: center; 
  border-bottom:0;
  border-color:blue;
  height:5vh;
}
.body{
   text-align:center;
  font-family:Lato;
  font-size:3vh;
  border:solid;
  padding:1vh;
  
  height:84vh;
  border-color:blue;
  overflow-x: hidden;
}
button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 1vh 3vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
}
.bottom{
  border-top:0;
  font-family:Lato;
  height:5vh;
  border:solid;
  padding:.5vh;
  
  border-color:blue;
  justify-content:space-between;
  display:flex}
.info{
   text-align:left;
  font-family:Lato;
  font-size:3vh;
  border:solid;
  padding:1vh;
  border-bottom:0;
  height:43vh;
  border-color:blue;
  overflow-x: hidden;
}
.options{
   text-align:left;
  font-family:Lato;
  font-size:3vh;
  border:solid;
  padding:1vh;
  border-bottom:0;
  height:25vh;
  border-color:blue;
  overflow-x: hidden;
}


:disabled{
  background-color:#dddddd;
}

.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: greenyellow;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}
table, th, td {
  margin-right: auto;
  

margin-left: auto;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
    border-width:thick;
}
.time{
  /*background:white;
  border:solid;
  font-size: 3vw;
  border-radius:10px;
  border-color:#424e95;
  padding:5px;
  margin:10px 2px;
  height:20vh;
  width:10vw;*/
  background:white;
  border:solid;
  
  border-color:#000000;
  text-align: center;
  font-size: 2vh;
  font-weight: bold;
  display: inline-block;
  padding:1vw;

  height: 2.5vh;
 
  font-family:Lato;
}