p{
  font-family:Lato;
}
.header{
  text-align:center;
  font-family:Lato;
   
  border:solid;
  display: flex;
  justify-content: center;
  align-items: center; 
  border-bottom:0;
  border-color:blue;
  height:5vh;
}
.body{
   text-align:center;
  font-family:Lato;
  font-size:3vh;
  border:solid;
  padding:1vh;
  
  height:84vh;
  border-color:blue;
  overflow-x: hidden;
}
button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 1vh 3vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
}
.bottom{
  border-top:0;
  font-family:Lato;
  height:5vh;
  border:solid;
  padding:.5vh;
  
  border-color:blue;
  justify-content:space-between;
  display:flex}
.info{
   text-align:left;
  font-family:Lato;
  font-size:3vh;
  border:solid;
  padding:1vh;
  border-bottom:0;
  height:50vh;
  border-color:blue;
  overflow-x: hidden;
}
 a {
    color: #FFFFFF;
    text-decoration: none;
}
.options{
  
  font-family:Lato;
  font-size:3vh;
  border:solid;
  padding:1vh;
  border-bottom:0;
  height:30vh;
  border-color:blue;
  overflow-x: hidden;
}
.warning{
  color:red;
}