<div class="header">
	<p><strong>Performance-Based Balance Scale</strong></p>
</div>
<div class="body">
	<strong>Prior to testing, please refer to the full instructions for settings, space requirements, time and equipment needed (including a gait belt for guarding), instructions and scoring schema.
</strong>
			<p>
			<p><strong>Description:</strong>
			20-item scale with dichotomous (yes/no) scores designed to measure the balance ability of community-living
			older adults
			<p><strong>Settings: </strong>
			Out-patient clinics, hospitals, rehab centers, independent living centers, and possibly homes</p>
			<p><strong>Space requirements: </strong></p>
			<ol>
				<li>
					An uncluttered straight walkway approximately 22-24 ft (7 m) in length</li>
				<li>
					Uncluttered open space approximately 5 ft × 5 ft (1.5 m × 1.5 m)</li>
			</ol>
			<p><strong>Time: </strong>
			Excluding set up time, 5 to 15 minutes depending on client’s performance ability</p>
			<p><strong>Equipment needed: </strong></p>
			<ol>
				<li>
					Stopwatch or the PBS app </li>
				<li>
					Tempur® foam (<i>about </i>2 ft × 2 ft [60 cm × 60 cm] block of 4 in (10 cm) high, medium-density)*</li>
				<li>
					Stool or step (8 in [20 cm] high)</li>
				<li>
					Tape measure (20 ft [6 m]) or pieces of string (one 10 ft [3 m] long and one 24 in [60 cm] long)
				</li>
				<li>
					Duct- or masking-type tape (preferably colored tape to provide contrast to floor surface)</li>
				<li>
					Standard firm chair with back and armrests (about 17-18 in [43-46 cm] from floor to seat)  </li>
				<li>
					Two (2) stacked shoe boxes (12 in [30 cm] long, 7.5 in [19 cm] wide & 9.5 in [24 cm] high)  </li>
				<li> Two (2) minimum 6 ft [2 m] folding wood rules or self-locking tape measures, or four (4) standard, single point straight canes (about 35 in [90 cm] long) </li>
				<li>
					Gait belt for guarding the client</li>
			</ol>
			<p><strong>
Instructions for examiner:</strong></p>
			<ol>
				<li>
					Read the “tester” information for each item before testing.</li>
				<li>
					Read the “client” instructions to the client.</li>
				<li>
					Demonstrate the tasks (test item), if instructed.</li>
				<li>
					Allow a practice trial, if instructed.</li>
				<li>
					Ask the client to perform each task independently, but with guarding.</li>
				<li>
					Allow the client a second trial, if needed; score the best trial.</li>
				<li>
					Time tasks and record time, if indicated; circle foot / leg where indicated. </li>
				<li>
					Score each task immediately after completion.</li>
				<li>
					Stop the test when the client scores a 0 on 3 consecutive items.</li>
			</ol>
			<p><strong>
Scoring:**</strong></p>
			<p><strong>
				1 = Able to perform ALL specified conditions of the task independently (without assistance) and safely<br><br>
				0 = Unable to complete the task, unable to perform the task without assistance, or unable to perform the
				task with the standard requirements</strong></p>

			Score unable (0) if:<p>
				<ul>
					<li>
						client is unwilling to perform an item.</li>
					<li>
						tester chooses not to ask client to perform an item for safety reasons.</li>
				</ul>
        

				Total scores range from 0 (worst performance) to 20 (best performance).
<p><strong>Download and print this free PBS form: Click here </strong></p>
<hr>
<p style="font-size:2vh;"><strong>Notes:</strong> *Available at alimed.com (Blue medium density basic T-foam, 18”×16”×4” [item: #172M]). <br> **Reliability of the PBS scores may be affected if equipment, dimensions, or instructions are altered.</p>
</div>
<div class="bottom">
	<button [routerLink]="['/home']"  > Back</button>
	<button [routerLink]="['/info']"  > Next</button>

</div>