p{
  font-family:Lato;
}
.header{
  text-align:left;
  font-family:Lato;
   
  border:solid;
  display: flex;
  justify-content: center;
  align-items: center; 
 
  border-color:blue;
  height:5vh;
  border-bottom:0;
}
.body{
  text-align:left;
  font-family:Lato;
  font-size:2.5vh;
  border:solid;
  padding:1vh;
  
  height:80vh;
  border-color:blue;
  overflow-x: hidden;
}
button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 1vh 3vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
}
.bottom{
  
  font-family:Lato;
  height:5vh;
  border:solid;
  padding:.5vh;
  border-top:0;
  border-color:blue;
  justify-content:space-between;
  display:flex}